/* MAIN PAGE CONTENT
* * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * *
END MAIN PAGE */

/* BUTTON LIST ITEMS
* * * * * * * * * * * * * * * * * * * * * * * */
.buttonList
{
    margin-top: 50px;
}

.optionButtons li
{
    background: #3E2719;
    opacity: 0.9;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 12px 0px;
    width: 250px;
    border-radius: 4px;
}

.optionButtons li:hover
{
    border-radius: 20px;
    opacity: 1.0;
}

.optionButtons a
{
    color: rgba(252, 233, 192, 0.9);
    font-size: 18px;
    text-align: center;
    margin: 20px;
    padding: 3px 8px 3px 8px;
}

/* Overiding hover functions from index.css */
.optionButtons a:hover
{
    font-weight: 400;
    color: rgba(252, 233, 192, 1.0);
}

/* When selected */



/* * * * * * * * * * * * * * * * * * * * * * * *
END BUTTON LIST ITEMS */