<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee - Edit</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
</head>
<body>

    <!-- BACKGROUND -->
    <div class="backgroundImage"></div>

    <!-- HEADER NAVIGATION BAR -->
    <div class="navContainer">
        <div class="navWrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115">
                </div>

                <ul class="navItems">
                    <li class="navSelect">
                        <a href="/employee">Employee</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END HEADER NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <div class="headerContainer">
        <div class="pageWrapper">
            <!-- list content -->
            <div class="dataSection">

                <form action="/employee/updateEmployee" method="POST">

                    <h3>Edit an existing Employee</h3>
                    <label for="id">ID</label>
                    <input type="number" name="id" id="id" th:value="${employee.id}" required readonly><br>

                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" th:value="${employee.firstName}" required><br>

                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" th:value="${employee.lastName}" required><br>

                    <label for="position">Position</label>
                    <input type="text" name="position" id="position" th:value="${employee.position}" required><br>

                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" th:field="${employee.gender}">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select><br>

                    <div class="tableOptionButtons">
                        <button type="submit">Save</button>
                        <button type="button" onclick="location.href='/employee/viewAll'">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- end list content -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</body>
</html>