<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
</head>
<body>

    <!-- BACKGROUND -->
    <div class="backgroundImage"></div>

    <!-- HEADER NAVIGATION BAR -->
    <div class="navContainer">
        <div class="navWrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115">
                </div>

                <ul class="navItems">
                    <li class="navSelect">
                        <a href="/employee">Employee</a>
                    </li>
                    <li>
                        <a href="/index">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END HEADER NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <div class="headerContainer">
        <div class="pageWrapper">
            <!-- Selection buttons -->
            <div class="buttonList">
                <ul class="optionButtons">
                    <div class="selected">
                        <li onClick="location.href='/employee/viewAll';" style="cursor:pointer;">
                            <a href="#">View All</a>
                        </li>
                    </div>
                    <li onClick="location.href='/employee/createNewEmployee';" style="cursor:pointer;">
                        <a href="#">Create New</a>
                    </li>
                </ul>
            </div>

            <!-- list content -->
            <div class="dataSection">
                <div class="searchField textInput" style="margin-bottom: 25px;">
                    <form action="/employee/viewAll" method="post">
                        <label for="searchSelect">Search Type</label>
                        <select name="searchType" id="searchSelect">
                            <option value="name">Name</option>
                            <option value="position">Position</option>
                        </select>
                        <input type="text" name="searchQuery" id="searchQuery" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <table class="dataTable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Position</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="main" th:each="emp: ${employeeList}">
                        <td th:text="${emp.id}"></td>
                        <td th:text="${emp.firstName}"></td>
                        <td th:text="${emp.lastName}"></td>
                        <td th:text="${emp.position}"></td>
                        <td class="tableOptions">
                            <div class="tableOptionButtons">
                                <form action="/employee/editEmployee" method="POST">
                                    <button type="submit" name="id" th:value="${emp.id}">Edit</button>
                                </form>
                                <form action="/employee/deleteEmployee" method="POST">
                                    <button type="submit" name="id" th:value="${emp.id}">Remove</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- end list content -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</body>
</html>