<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RV - Create New</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/styles/create.css}" rel="stylesheet"/>
</head>
<body>

    <!-- BACKGROUND -->
    <div class="backgroundImage"></div>

    <!-- HEADER NAVIGATION BAR -->
    <div class="navContainer">
        <div class="navWrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115">
                </div>

                <ul class="navItems">
                    <li>
                        <a href="/customer/viewAll">Customers</a>
                    </li>
                    <li>
                        <a href="/rentalContract/viewAll">Rentals</a>
                    </li>
                    <li class="navSelect">
                        <a href="/rv">RV</a>
                    </li>
                    <li>
                        <a href="/index">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END HEADER NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <div class="headerContainer">
        <div class="pageWrapper">
            <!-- Selection buttons -->
            <div class="buttonList">
                <ul class="optionButtons">
                    <li onClick="location.href='/rv/viewAll';" style="cursor:pointer;">
                        <a href="#">View All</a>
                    </li>
                    <div class="selected">
                        <li onClick="location.href='/rv/createNewRV';" style="cursor:pointer;">
                            <a href="#">Create New</a>
                        </li>
                    </div>
                </ul>
            </div>

            <!-- list content -->
            <div class="dataSection textInput">

                <form action="/rv/submitNewRV" method="POST">

                    <div class="createForm">

                        <h3>Create a brand new, fresh, shiny and magnificent Recreational Vehicle</h3>

                        <div class="innerCreateForm createRVForm">
                            <label for="brand">Brand</label>
                            <input type="text" name="brand" id="brand" placeholder="Brand ..." required><br>
                            <label for="model">Model</label>
                            <input type="text" name="model" id="model" placeholder="Model ..." required><br>
                            <label for="color">Color</label>
                            <input type="text" name="color" id="color" placeholder="Color ..." required><br>
                            <label for="rvType">Type</label>
                            <input type="text" name="rvType" id="rvType" placeholder="Rv Type ..." required><br>
                            <label for="price">price</label>
                            <input type="number" name="price" id="price" placeholder="Price ..." required><br>
                        </div>

                        <div class="tableOptionButtons">
                            <button onclick="location.href='/rv/viewAll'">Cancel</button>
                            <button type="submit">Create</button>
                        </div>
                    </div>

                </form>
            </div>
            <!-- end list content -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</body>
</html>