<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RV - Edit</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
</head>
<body>

    <!-- BACKGROUND -->
    <div class="backgroundImage"></div>

    <!-- HEADER NAVIGATION BAR -->
    <div class="navContainer">
        <div class="navWrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115">
                </div>

                <ul class="navItems">
                    <li>
                        <a href="/customer/viewAll">Customers</a>
                    </li>
                    <li>
                        <a href="/rentalContract/viewAll">Rentals</a>
                    </li>
                    <li class="navSelect">
                        <a href="/rv">RV</a>
                    </li>
                    <li>
                        <a href="/index">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END HEADER NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <div class="headerContainer">
        <div class="pageWrapper">
            <!-- Selection buttons
            <div class="buttonList">
                <ul class="optionButtons">
                    <div class="selected">
                        <li onClick="location.href='/rv/viewAll';" style="cursor:pointer;">
                            <a href="/rv/viewAll">View All</a>
                        </li>
                    </div>
                    <li onClick="location.href='/rv/createNewRV';" style="cursor:pointer;">
                        <a href="/rv/createNewRV">Create New</a>
                    </li>
                </ul>
            </div>
            -->

            <!-- list content -->
            <div class="dataSection">

                <form action="/rv/updateRV" method="POST">

                    <h3>Edit an RV</h3>
                    <label for="id">Id</label>
                    <input type="text" name="id" id="id" th:value="${rv.id}" readonly><br>
                    <label for="brand">Brand</label>
                    <input type="text" name="brand" id="brand" th:value="${rv.brand}" required><br>
                    <label for="model">Model</label>
                    <input type="text" name="model" id="model" th:value="${rv.model}" required><br>
                    <label for="color">Color</label>
                    <input type="text" name="color" id="color" th:value="${rv.color}" required><br>
                    <label for="rvType">Type</label>
                    <input type="text" name="rvType" id="rvType" th:value="${rv.rvType}" required><br>
                    <label for="price">price</label>
                    <input type="number" name="price" id="price" th:value="${rv.price}" required><br>
                    <label for="fuelStatus">Fuel Status</label>
                    <input type="number" name="fuelStatus" id="fuelStatus" th:value="${rv.fuelStatus}" required><br>
                    <label for="kmDriven">Km Driven</label>
                    <input type="number" name="kmDriven" id="kmDriven" th:value="${rv.kmDriven}" required><br>

                    <input type="checkbox" name="isRented" id="isRented" th:checked="${rv.isRented}">
                    <label for="isRented">Is Rented</label><br>

                    <input type="checkbox" name="requiresCleaning" id="requiresCleaning"
                           th:checked="${rv.requiresCleaning}">
                    <label for="requiresCleaning">Requires Cleaning</label><br>

                    <input type="checkbox" name="requiresMaintenance" id="requiresMaintenance"
                           th:checked="${rv.requiresMaintenance}">
                    <label for="requiresMaintenance">Requires Maintenance</label><br>

                    <input type="checkbox" name="requiresFurtherService" id="requiresFurtherService"
                           th:checked="${rv.requiresFurtherService}">
                    <label for="requiresFurtherService">Requires Further Service</label><br>

                    <div class="tableOptionButtons">
                        <button type="submit">Save</button>
                        <button onclick="location.href='/rv/viewAll'">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- end list content -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</body>
</html>