<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RV - No results</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/motorhome/rv.css}" rel="stylesheet"/>
    <link th:href="@{/styles/login.css}" rel="stylesheet"/>
</head>
<body>

    <!-- BACKGROUND -->
    <div class="backgroundImage"></div>

    <!-- HEADER NAVIGATION BAR -->
    <div class="navContainer">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115">
                </div>

                <ul class="navItems">
                    <li>
                        <a href="/customers">Customers</a>
                    </li>
                    <li>
                        <a href="/rentals">Rentals</a>
                    </li>
                    <li class="navSelect">
                        <a href="/rv">RV</a>
                    </li>
                    <li>
                        <a href="/rvExtras">RV Extras</a>
                    </li>
                    <li>
                        <a href="/index">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END HEADER NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <!-- Placeholder structure, to be replaced with proper classses -->
    <div class="headerContainer">
        <div class="wrapper">
            <header>
                <div class="pageContainer">
                    <form class="login" action="/rv/viewAll" method="get">
                        <h1 class="welcomeText">There were<br>zero results</h1>
                        <div style="margin-top: 75px">
                            <button onclick="location.href='/rv/viewAll'">Go Back</button>
                        </div>
                    </form>
                </div>
            </header>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</body>
</html>