<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RV - Maintenance</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
</head>
<body>

<!-- BACKGROUND -->
<div class="backgroundImage"></div>

<!-- HEADER NAVIGATION BAR -->
<div class="navContainer">
    <div class="navWrapper">
        <nav>
            <div class="logo">
                <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115" >
            </div>

            <ul class="navItems">
                <li class="navSelect">
                    <a href="#">RV</a>
                </li>
                <li>
                    <a href="/index">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END HEADER NAVIGATION BAR -->

<!-- PAGE CONTENT -->
<div class="headerContainer">
    <div class="pageWrapper">
        <!-- list content -->
        <div class="dataSection">
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="main" th:each="rv: ${rvList}">
                    <td th:text="${rv.id}"></td>
                    <td th:text="${rv.brand}"></td>
                    <td th:text="${rv.model}"></td>
                    <td th:text="${rv.rvType}"></td>
                    <td class="tableOptions">
                        <div class="tableOptionButtons">
                            <form action="/rv/repairRV" method="POST">
                                <button type="submit" name="id" th:value="${rv.id}">Repaired</button>
                            </form>
                            <div th:if="${rv.requiresFurtherService == false}" >
                                <form action="/rv/serviceRV" method="POST">
                                    <button  type="submit" name="id" th:value="${rv.id}">Requires Service</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- end list content -->
    </div>
</div>
<!-- END PAGE CONTENT -->
</body>
</html>