<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer - Edit</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/styles/create.css}" rel="stylesheet"/>
</head>
<body>
    <!-- BACKGROUND -->
    <div class="backgroundImage"></div>

    <!-- HEADER NAVIGATION BAR -->
    <div class="navContainer">
        <div class="navWrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115">
                </div>

                <ul class="navItems">
                    <li class="navSelect">
                        <a href="#">Customers</a>
                    </li>
                    <li>
                        <a href="/rentalContract/viewAll">Rentals</a>
                    </li>
                    <li>
                        <a href="/rv/viewAll">RV</a>
                    </li>
                    <li>
                        <a href="/index">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END HEADER NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <div class="headerContainer">
        <div class="pageWrapper">
            <!-- Selection buttons -->
            <div class="buttonList">
                <ul class="optionButtons">
                    <li onClick="location.href='/customer/viewAll';" style="cursor:pointer;">
                        <a href="#">View All</a>
                    </li>
                    <div class="selected">
                        <li onClick="location.href='/customer/createNewCustomer';" style="cursor:pointer;">
                            <a href="#">Create New</a>
                        </li>
                    </div>
                </ul>
            </div>

            <!-- list content -->
            <div class="dataSection">

                <form action="/customer/submitNewCustomer" method="POST">

                    <div class="createForm createFormCustomer textInput">
                        <h3>Create a brand new, fresh, shiny and magnificent Customer</h3>

                        <div class="innerCreateForm">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" id="firstName" placeholder="First Name" maxlength="40" required><br>

                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name"  maxlength="40" required><br>

                            <label for="cpr">Cpr</label>
                            <input type="text" name="cpr" id="cpr" placeholder="Cpr" maxlength="11" required><br>

                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" placeholder="Email" maxlength="80"><br>

                            <label for="birthdate">Birthdate</label>
                            <input type="date" name="birthdate" id="birthdate" placeholder="2001-01-25" max="2020-01-01" required><br>

                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" placeholder="Address" maxlength="255" required><br>

                            <label for="address2">Address Extras</label>
                            <input type="text" name="address2" id="address2" placeholder="Extra"  maxlength="255"><br>

                            <label for="gender">Gender</label>
                            <div class="searchField createSelect">
                                <select name="gender" id="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select><br>
                            </div>

                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone number" maxlength="15"><br>
                        </div>

                        <div class="tableOptionButtons">
                            <button onclick="location.href='/customer/viewAll'">Cancel</button>
                            <button type="submit">Create</button>
                        </div>
                    </div>

                </form>
            </div>
            <!-- end list content -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</body>
</html>