<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
</head>
<body>

<!-- BACKGROUND -->
<div class="backgroundImage"></div>

<!-- HEADER NAVIGATION BAR -->
<div class="navContainer">
    <div class="navWrapper">
        <nav>
            <div class="logo">
                <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115" >
            </div>

            <ul class="navItems">
                <li class="navSelect">
                    <a href="#">Customers</a>
                </li>
                <li>
                    <a href="/rental/viewAll">Rentals</a>
                </li>
                <li>
                    <a href="/rv/viewAll">RV</a>
                </li>
                <li>
                    <a href="/rvExtra/viewAll">RV Extras</a>
                </li>
                <li>
                    <a href="/index">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END HEADER NAVIGATION BAR -->

<!-- PAGE CONTENT -->
<div class="headerContainer">
    <div class="pageWrapper">
        <!-- Selection buttons -->
        <div class="buttonList">
            <ul class="optionButtons">
                <div class="selected">
                    <li onClick="location.href='/customer/viewAll';" style="cursor:pointer;">
                        <a href="#">View All</a>
                    </li>
                </div>
                <li onClick="location.href='/customer/createNewCustomer';" style="cursor:pointer;">
                    <a href="#">Create New</a>
                </li>
            </ul>
        </div>

        <!-- list content -->
        <div class="dataSection">
            <div class="searchField" style="margin-bottom: 25px;">
                <form action="/customer/viewAll" method="post">
                    <label for="searchSelect">Search Type</label>
                    <select name="searchType" id="searchSelect">
                        <option value="name">Name</option>
                        <option value="id">Id</option>
                        <option value="cpr">Cpr</option>
                        <option value="email">Email</option>
                        <option value="contractId">Contract Id</option>
                    </select>
                    <br>
                    <label for="searchQuery">Search query</label>
                    <input type="text" name="searchQuery" id="searchQuery" placeholder="Search">
                    <br>
                    <button type="submit" style="margin-left: 150px">Search</button>
                </form>
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone nr</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="main" th:each="customer: ${customerList}">
                        <td th:text="${customer.id}"></td>
                        <td th:text="${customer.firstName}"></td>
                        <td th:text="${customer.phoneNumber}"></td>
                        <td class="tableOptions">
                            <div class="tableOptionButtons">
                                <form action="/customer/editCustomer" method="POST">
                                    <button type="submit" name="id" th:value="${customer.id}">Edit</button>
                                </form>
                                <form action="/customer/deleteCustomer" method="POST">
                                    <button type="submit" name="id" th:value="${customer.id}">Remove</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end list content -->
    </div>
</div>
<!-- END PAGE CONTENT -->
</body>
</html>