<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental Contract - Edit</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
</head>
<body>
    <!-- BACKGROUND -->
    <div class="backgroundImage"></div>

    <!-- HEADER NAVIGATION BAR -->
    <div class="navContainer">
        <div class="navWrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115">
                </div>

                <ul class="navItems">
                    <li>
                        <a href="/customer/viewAll">Customers</a>
                    </li>
                    <li class="navSelect">
                        <a href="/rentalContract/viewAll">Rentals</a>
                    </li>
                    <li>
                        <a href="/rv/viewAll">RV</a>
                    </li>
                    <li>
                        <a href="/index">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END HEADER NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <div class="headerContainer">
        <div class="pageWrapper">
            <!-- Selection buttons -->
            <div class="buttonList">
                <ul class="optionButtons">
                    <li onClick="location.href='/rentalContract/viewAll';" style="cursor:pointer;">
                        <a href="#">View All</a>
                    </li>
                    <div class="selected">
                        <li onClick="location.href='/rentalContract/createNewRentalContract';" style="cursor:pointer;">
                            <a href="#">Create New</a>
                        </li>
                    </div>
                </ul>
            </div>

            <!-- List Content -->
            <div class="dataSection">

                <form action="/rentalContract/submitNewRentalContract" method="POST">

                    <h3>Create a brand new, fresh Rental Contract with a shiny and magnificent Customer</h3>
                    <label for="dateStart">Date Start</label>
                    <input type="date" th:name="dateStart" id="dateStart" placeholder="Date Start" required><br>

                    <label for="dateEnd">Date End</label>
                    <input type="date" th:name="dateEnd" id="dateEnd" placeholder="Date End" required><br>

                    <label for="dropoffAddress">Drop-Off Address</label>
                    <input type="text" th:name="addressDropoff" id="dropoffAddress" placeholder="Drop-Off Address" required><br>

                    <label for="pickupAddress">Pick-Up Address</label>
                    <input type="text" th:name="addressPickup" id="pickupAddress" placeholder="Pick-Up Address" required><br>

                    <label for="customer_id">Customer</label>
                    <select th:name="customer_id" id="customer_id" required>
                        <option value="default" th:value="null">Pick Motorhome</option>
                        <option th:each="customer : ${customerList}" th:value="${customer.id}" th:text="${customer.firstName} + ' ' + ${customer.lastName}"></option>
                    </select><br>

                    <label for="motorhome">Motorhome</label>
                    <select th:name="rv_id" id="motorhome" required>
                        <option value="default" th:value="null">Pick Motorhome</option>
                        <option th:each="rv : ${rvList}" th:value="${rv.id}" th:text="${rv.brand} + ' ' + ${rv.model}"></option>
                    </select><br>

                    <label for="salesAssistant">Sales Assistant</label>
                    <select th:name="employee_id" id="salesAssistant" required>
                        <option value="default" th:value="null">Pick Motorhome</option>
                        <option th:each="employee : ${employeeList}" th:value="${employee.id}" th:text="${employee.firstName} + ' ' + ${employee.lastName}"></option>
                    </select><br>


                    <label for="extras">Sales Assistant</label>
                    <select th:name="extras" id="extras">
                        <option th:value="null" >zero</option>
                        <option th:value="child">one</option>
                    </select><br>
<!--
                    <label for="customer_id">Customer</label>
                    <select th:name="customer_id" id="customer_id" th:field="${customerList}">
                        <option value="default" th:value="null">Pick Customer</option>
                        <option value="" th:value="null">No Customer</option>
                        <option th:each="customer : ${customerList}" th:value="${customer.id}" th:text="${customer.firstName} + ' ' + ${customer.lastName}"></option>
                    </select><br>

                    <label for="rv_id">Motorhome</label>
                    <select th:name="rv_id" id="rv_id" th:field="*{rvList}">
                        <option value="default" th:value="null">Pick Motorhome</option>
                        <option value="" th:value="null">No Motorhome</option>
                        <option th:each="rv : ${rvList}" th:value="${rv.id}" th:text="${rv.brand} + ' ' + ${rv.model} + ' ' + ${rv.color}"></option>
                    </select><br>

                    <label for="employee_id">Sales Assistant</label>
                    <select th:name="employee_id" id="employee_id" th:field="*{employeeList}">
                        <option value="default" th:value="null">Pick Sales Assistant</option>
                        <option value="" th:value="null">No Sales Assistant</option>
                        <option th:each="employee : ${employeeList}" th:value="${employee.id}" th:text="${employee.firstName} + ' ' + ${employee.lastName}"></option>
                    </select><br>

                    <br><input type="checkbox" id="checkboxExtraButton">
                    <label for="checkboxExtraButton" id="checkboxExtraLabel" > <strong>Extras</strong>
                    </label><br>-->

                    <br><div class="checkboxExtra">

                        <label class="radioCheckbox"> <strong> Child </strong>
                            <input type="checkbox" id="child">
                            <span class="checkmark"></span>
                        </label>

                        <label class="radioCheckbox" for="seat"> <strong> Seat </strong>
                            <input type="checkbox" id="seat">
                            <span class="checkmark"></span>
                        </label>

                        <label class="radioCheckbox" for="bedLinen"> <strong> Bed Linen </strong>
                            <input type="checkbox" id="bedLinen">
                            <span class="checkmark"></span>
                        </label>

                        <label class="radioCheckbox" for="chairs"> <strong> Chairs </strong>
                            <input type="checkbox" id="chairs">
                            <span class="checkmark"></span>
                        </label>

                        <label class="radioCheckbox" for="picnicTable"> <strong> Picnic Table </strong>
                            <input type="checkbox" id="picnicTable">
                            <span class="checkmark"></span>
                        </label>

                    </div>
                    <br>


                    <div class="tableOptionButtons">
                        <button type="submit">Create</button>
                        <button type="button" onclick="location.href='/rentalContract/viewAll'">Cancel</button>
                    </div>

                </form>
            </div>
            <!-- end list content -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</body>
</html>