<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental Contract - Invalid Parameters</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/login.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
</head>
<body>

    <!-- BACKGROUND -->
    <div class="backgroundImage"></div>

    <!-- HEADER NAVIGATION BAR -->
    <div class="navContainer">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" alt="RVs R Us" width="115">
                </div>

                <ul class="navItems">
                    <li>
                        <a href="/customer/viewAll">Customers</a>
                    </li>
                    <li class="navSelect">
                        <a href="/rentalContract/viewAll">Rentals</a>
                    </li>
                    <li>
                        <a href="/rv/viewAll">RV</a>
                    </li>
                    <li>
                        <a href="/index">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END HEADER NAVIGATION BAR -->

    <!-- PAGE CONTENT -->
    <!-- Placeholder structure, to be replaced with proper classes -->
    <div class="headerContainer">
        <div class="pageWrapper">
            <div class="buttonList">
                <ul class="optionButtons">
                    <li onclick="location.href='/rentalContract/viewAll';">
                        <a href="#">Go Back</a>
                    </li>
                </ul>
            </div>
            <div class="dataSection">
                <h1 class="welcomeText">There was<br><br>an invalid parameter passed</h1>
                <h4 class="welcomeText">Contact developers for<br><br>more information</h4>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</body>
</html>