<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <style>

    </style>
</head>
<body>

    <div class="background-image"></div>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{img/logo.png}" width="115"/>
                </div>

                <ul class="nav-items">
                    <li>
                        <a href="#">Log in</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="page-container">
                    <h1 class="welcome-text">Welcome</h1>
                </div>
            </header>
        </div>
    </div>

</body>
</html>