<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/login.css}" rel="stylesheet"/>
    <link th:href="@{/styles/buttons.css}" rel="stylesheet"/>
</head>
<body>

    <div class="backgroundImage"></div>

    <div class="navContainer">
        <div class="navWrapper">
            <nav>
                <div class="logo">
                    <img th:src="@{~/img/logo.png}" width="115"/>
                </div>

                <ul class="navItems">
                    <li>
                        <a href="/rv/viewAll">Log in</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="pageWrapper">
        <!-- Login box container -->
        <div class="pageContainer">

            <form class="login" action="/home/login" method="POST">
                <div class="login">
                    <h1 class="welcomeText">Welcome</h1>
                    <p style="font-size: 12px" th:if="${error == 0}" class="welcomeText" th:text="'Error : ' + ${error} + ' Not implemented yet - WIP'"></p>
                    <p style="font-size: 12px" th:if="${error == 1}" class="welcomeText" th:text="'Error : ' + ${error} + ' Wrong Username or Password. Try Again !'" ></p>
                    <div class="loginInput">
                        <input type="text" name="username" placeholder="Enter Username" required>

                        <input type="password" name="password" placeholder="Enter Password" required>

                        <div class="tableOptionButtons" style="display: inline;">
                            <button type="submit" style="display: inline;">login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>