<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>

</head>
<body>

    <div class="background-image"></div>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img class="logo" src="images/logo.png" alt="" width="115">
                </div>

                <ul class="nav-items">
                    <li>
                        <a href="#">Customers</a>
                    </li>
                    <li>
                        <a href="#">Rentals</a>
                    </li>
                    <li>
                        <a href="#">RV</a>
                    </li>
                    <li>
                        <a href="#">RV Extra</a>
                    </li>
                    <li>
                        <a href="#">Log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="page-container">
                    <h1 class="welcome-text">Welcome</h1>
                    <p><br>< username >
                    </p>
                </div>
            </header>
        </div>
    </div>

</body>
</html>