/* Option buttons
* * * * * * * * * * * * * * * * * * * * * * * */
.buttonList
{
    margin-top: 50px;
}

.optionButtons li
{
    background: #3E2719;
    opacity: 1.0;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 12px 0px;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.optionButtons li:hover
{
    border-radius: 20px;
    opacity: 1.0;
}

.optionButtons a
{
    color: rgba(252, 233, 192, 0.9);
    font-size: 18px;
    text-align: center;
    margin: 20px;
    padding: 3px 8px 3px 8px;
}

/* Overiding hover functions from index.css */
.optionButtons a:hover
{
    font-weight: 400;
    color: rgba(252, 233, 192, 1.0);
}

/* When selected */
.selected li
{
    background: rgba(252, 233, 192, 0.9);
    opacity: 1.0;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 12px 0px;
    width: 250px;
    border: 2px solid #3E2719;
}

.selected a
{
    color: #3E2719;
}

/* override hover action */
.selected li:hover
{
    background: rgba(252, 233, 192, 0.9);
    opacity: 1.0;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 12px 0px;
    width: 250px;
    border: 2px solid #3E2719;
    border-radius: 4px;
}

.selected a:hover
{
    color: #3E2719;
}
/* * * * * * * * * * * * * * * * * * * * * * * *
Option buttons */

/************************************************
Extras Checkboxes
 */

.radioCheckbox {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioCheckbox input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radioCheckbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.radioCheckbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radioCheckbox input:checked ~ .checkmark:after {
    display: inline;
}

.radioCheckbox .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.checkboxExtra
{
    margin-top: 12px;
    display: none;
}
#checkboxExtraButton:checked ~ .checkboxExtra
{
    display: block;
}
#checkboxExtraButton
{
    display: none;
}
#checkboxExtraLabel
{
    background: rgba(252, 233, 192, 0.9);
    font-size: 18px;
    margin: 20px;
    padding: 3px 8px 3px 8px;
    border: 2px solid #3E2719;
    border-radius: 6px;
}

/* input fields
* * * * * * * * * * * * * * * * * * * * * * * * */
.textInput input[type = "text"], .textInput input[type = "number"], .textInput input[type = "date"]
{
    background: none;
    border: 1px solid #3E2719;
    padding: 5px 10px;
    width: 200px;
    outline: none;
    color: #3E2719;
    border-radius: 4px;
}

/* input fields when selected */
.textInput input[type = "text"]:focus
{
    border: 0;
    background: none;
    border: 2px solid #3E2719;
    padding: 4px 9px;
    width: 200px;
    outline: none;
    color: #3E2719;
    border-radius: 5px;
}

/* Trying hard to override the auto fill background from text-fields */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgba(252, 233, 192, 0.7) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

.textInput button
{
    background: #3E2719;
    color: rgba(252, 233, 192, 1.0);
    margin: 2px;
    text-align: center;
    padding: 6px 25px;
    width: 100px;
    border: none;
    border-radius: 4px;
}

.textInput button:hover
{
    border-radius: 12px;
    cursor:pointer
}

/* SELECT OPTION STYLING
* * * * * * * * * * * * * * * * * * * * * */
.searchField select
{
	background-color: #3E2719;
    color: rgba(252, 233, 192, 1.0);
    padding: 5px 10px;
    width: 150px;
    border: none;
    border-radius: 4px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.searchField label {
    font-size: 16px;
    margin: 0 25px 0 11px;
}

.searchFieldCreate label {
    font-size: 24px;
    margin: 0;
}

/* buttons
* * * * * * * * * * * * * * * * * * * * * */
.regButton li
{
    list-style-type: none;
    border: 1px solid #3E2719;
    border: 0;
    border-radius: 4px;
    color: rgba(252, 233, 192, 0.9);
    width: 100px;
    background: #3E2719
}

.regButton input[type = "submit"]
{
    border: 1px solid #3E2719;
    border: 0;
    border-radius: 4px;
    color: rgba(252, 233, 192, 0.9);
    width: 100px;
    background: #3E2719
}

/* button hover (increase size)*/
.regButton input[type = "submit"]:hover
{
    border: 1px solid #3E2719;
    border: 0;
    border-radius: 20px;
    color: rgba(252, 233, 192, 1.0);
    width: 110px;
    height: 20px;
}

::placeholder
{
    color: #3E2719;
}

.tableOptionButtons button
{
    background: #3E2719;
    color: rgba(252, 233, 192, 0.9);
    opacity: 0.9;
    display: block;
    margin: 5px;
    text-align: center;
    padding: 5px 25px;
    width: 100px;
    border: 2px solid #3E2719;
    border-radius: 4px;
}

.tableOptionButtons button:hover
{
    opacity: 1.0;
    border-radius: 12px;
    cursor:pointer
}
