/* General createForm info */
.createForm {
    width: 550px;
    height: 350px;
    padding: 40px;
    background: rgba(252, 233, 192, 0.4);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.innerCreateForm {
    text-align: right;
    margin: 0 76px 6px;
}

.createForm select {
    width: 222px;
}

.createSelect {
    display: inline;
}

.createForm button {
    display: inline;
    margin-top: 20px;
}

.createForm h3 {
    margin-top: 15px;
}

/* employee screen specifics */
.createFormEmployeeEdit {
    height: 320px;
}

.innerCreateFormEmployeeEdit {
    margin: 0 105px 6px 0;
}

/* RV screen specifics */
.createFormEditRV {
    height: 490px;
}

.innerCreateFormEditRV {
    margin: 0 135px 4px 0;
}

.createRVForm {
    margin: 0 125px 6px 0;
}

/* customer screen specifics */
.createFormCustomer {
    height: 450px;
}

/* rental contract screen specifics */
.createFormRentalContract {
    height: 550px;
}

.innerCreateFormRentalContract {
    margin: 0 80px 13px 0;
}
