/* Main page content
 * * * * * * * * * * * * * * * * * * * * * * * * * * */
*
{
    box-sizing: border-box;
    margin: 0;
}

body
{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #3E2719;

    /* Background image */

    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 110% 120%;
    background-position: top -144px left -168px;
    align-items: center;
    height: 100hv;
}

/* Navigation bar
 * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

nav ul
{
    display: flex;
}

nav .logo
{
    margin-top: 5px;
}

nav .logo:hover
{
    width: 125px;
}

/* Navigation bar box */
.navContainer
{
    height: 70px;
    margin-top: 30px;
    background: rgba(252, 233, 192, 0.7);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}

/* Navigation bar content */
.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}

/* Navigation bar text buttons / links */
.navItems li
{
    list-style: none;
    margin-right: 100px;
}

/* to remove margin from the last property in nav bar */
.navItems li:nth-last-of-type(1)
{
    margin: 0;
}

a
{
    color: #3E2719;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

a:hover
{
    font-weight: bold;
}

.navSelect a
{
    font-weight:bold;
    border-style:solid;
    border-width:4px;
    padding:3px 8px 3px 8px;
    border-radius:7px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * *
end navigation */

/* BUTTON LIST ITEMS
* * * * * * * * * * * * * * * * * * * * * * * */
.buttonList
{
    margin-top: 50px;
}

.optionButtons li
{
    background: #3E2719;
    opacity: 0.9;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 12px 0px;
    width: 250px;
    border-radius: 4px;
}

.optionButtons li:hover
{
    border-radius: 20px;
    opacity: 1.0;
}

.optionButtons a
{
    color: rgba(252, 233, 192, 0.9);
    font-size: 18px;
    text-align: center;
    margin: 20px;
    padding: 3px 8px 3px 8px;
}

/* Overiding hover functions from index.css */
.optionButtons a:hover
{
    font-weight: 400;
    color: rgba(252, 233, 192, 1.0);
}

/* When selected */
.selected li
{
    background: rgba(252, 233, 192, 0.9);
    opacity: 1.0;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 12px 0px;
    width: 250px;
    border: 2px solid #3E2719;
}

.selected a
{
    color: #3E2719;
}

/* override hover action */
.selected li:hover
{
    background: rgba(252, 233, 192, 0.9);
    opacity: 1.0;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 12px 0px;
    width: 250px;
    border: 2px solid #3E2719;
    border-radius: 4px;
}

.selected a:hover
{
    color: #3E2719;
}

/* * * * * * * * * * * * * * * * * * * * * * * *
END BUTTON LIST ITEMS */

/* Page content */

.headerContainer
{
    display: flex;
}

.container
{
    padding: 16px;
}

.welcomeText
{
    margin-top: 45%;
    font-size: 60px;
}

.pageContainer
{
    align-items: center;
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * *
 End main page*/