*
        {
            box-sizing: border-box;
            margin: 0;
        }

        body
        {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #3E2719;

            /* Background image */

            background-image: url('../img/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 110% 120%;
            background-position: top -144px left -168px;
            align-items: center;
            height: 100hv;
        }

        /* Navigation */

        nav
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 70px;
        }

        nav ul
        {
            display: flex;
        }

        nav .logo
        {
            margin-top: 5px;
        }

        nav .logo:hover
        {
            width: 125px;
        }

        .nav-container
        {
            height: 70px;
            margin-top: 30px;
            background: rgba(252, 233, 192, 0.7);
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
        }

        .wrapper
        {
            max-width: 1200px;
            margin: 0 auto;
        }

        .nav-items li
        {
            list-style: none;
            margin-right: 100px;
        }

        /* to remove margin from the last property in nav bar */
        .nav-items li:nth-last-of-type(1)
        {
            margin: 0;
        }

        a
        {
            color: #3E2719;
            text-decoration: none;
            font-family: Roboto, sans-serif;
        }

        a:hover
        {
            font-weight: bold;
        }

        /* end navigation */

        /* Page content */

        .header-container
        {
            display: flex;
        }

        .container
        {
            padding: 16px;
        }

        .login
        {
            width: 500px;
            height: 300px;
            padding: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(252, 233, 192, 0.4);
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
        }

        .login input[type = "text"], .login input[type = "password"]
        {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 1px solid #3E2719;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: #3E2719;
            border-radius: 4px;
        }

        .login input[type = "submit"]
        {
            border: 1px solid #3E2719;
            border: 0;
            border-radius: 4px;
            color: rgba(252, 233, 192, 0.9);
            width: 100px;
            background: #3E2719
        }

        .login input[type = "submit"]:hover
        {
            border: 1px solid #3E2719;
            border: 0;
            border-radius: 20px;
            color: rgba(252, 233, 192, 1.0);
            width: 110px;
            height: 20px;
        }

        ::placeholder
        {
            color: #3E2719;
        }

        .page-container
        {
            align-items: center;
            text-align: center;
        }

        .welcome-text
        {
            margin-top: 45%;
            font-size: 60px;
        }

        /* End page content */