*
        {
            box-sizing: border-box;
            margin: 0;
        }

        body
        {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #3E2719;

            /* Background image */

            background-image: url('../img/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 110% 120%;
            background-position: top -144px left -168px;
            align-items: center;
            height: 100hv;
        }

        /* Navigation */

        nav
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 70px;
        }

        nav ul
        {
            display: flex;
        }

        nav .logo
        {
            margin-top: 5px;
        }

        nav .logo:hover
        {
            width: 125px;
        }

        .nav-container
        {
            height: 70px;
            margin-top: 30px;
            background: rgba(252, 233, 192, 0.7);
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
        }

        .wrapper
        {
            max-width: 1200px;
            margin: 0 auto;
        }

        .nav-items li
        {
            list-style: none;
            margin-right: 100px;
        }

        /* to remove margin from the last property in nav bar */
        .nav-items li:nth-last-of-type(1)
        {
            margin: 0;
        }

        a
        {
            color: #3E2719;
            text-decoration: none;
            font-family: Roboto, sans-serif;
        }

        a:hover
        {
            font-weight: bold;
        }

        /* end navigation */

        /* Page content */

        .header-container
        {
            display: flex;
        }

        .page-container
        {

            align-items: center;
            margin-top: 40%;
            text-align: center;
        }

        .welcome-text
        {
            font-size: 72px;
        }

        /* End page content */