/* textInput
 * * * * * * * * * * * * * * * * * * * * * * * * * */
.login
{
    width: 500px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(252, 233, 192, 0.4);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
